.Fundo {
  background: linear-gradient(
    180deg,
    rgba(113, 103, 121, 0.445) 0%,
    rgb(81, 27, 230) 100%
  );
  min-height: 100vh; /* Garante que o fundo cubra toda a altura da tela */
  height: 12%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  display: flex;
}
