.Fundo {
  background: linear-gradient(90deg, rgb(0, 0, 0) 0%, #040127f1 50%);
  min-height: 100vh; /* Garante que o fundo cubra toda a altura da tela */
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}


.Section{
display: flex;
}