.TelaLogin {
  background-color: rgb(0, 0, 0);
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  overflow: hidden; /* Garante que o pseudo-elemento não ultrapasse os limites do elemento pai */
}

.TelaLogin::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/Image/fundo.png/");
  filter: brightness(0.5);
  z-index: -1; /* Coloca o pseudo-elemento atrás do conteúdo do elemento pai */
}

.IconLogin {
  width: 50%;
}

.Titulo {
  font-size: 1.3em;
  font-family: SF Pro Display;
  font-weight: 500;
  line-height: 28px;
  width: 50%;
  margin-top: -6%;
  background-image: radial-gradient(circle, #ffffff, #bb63ff);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  text-fill-color: transparent;
}

.Buttons {
  margin-top: -125%;
  display: flex;
  flex-direction: column; /* Garante que os botões fiquem um abaixo do outro */
  align-items: center; /* Centraliza os botões horizontalmente */
  justify-content: center; /* Centraliza os botões verticalmente */
  height: 100%;
  border-bottom: solid 2px;
  border-color: #252629;
  height: 52%;
}

.Off {
  text-align: center;
  font-size: 0.7em;
  font-family: SF Pro Display;
  font-weight: 300;
  color: #00e1ff;
  margin-left: -2%;
  transform: translateY(5%);
  z-index: 5;
  background-color: #000000;
  border-radius: 50%;
  padding: 1% 1%;
  border: solid 1px;
  border-color: rgba(255, 255, 255, 0.466);
}

.customButton {
  display: flex;
  align-items: center; /* Alinha verticalmente o ícone e o texto */
  justify-content: flex-start; /* Alinha horizontalmente o ícone e o texto à esquerda */
  background-color: #0f0f0f; /* Cinza */
  color: white;
  border: none;
  border-radius: 10px;
  padding: 2% 30%;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: fit-content; /* Ajuste conforme necessário */
  margin-bottom: 10px; /* Espaçamento entre os botões */
}

.svg1 {
  background-color: rgb(255, 255, 255);
  border-radius: 100%;
  padding: 0% 5%;
  margin-right: 10px; /* Espaçamento entre o ícone e o texto */
}

.svg2 {
  margin-right: 10px;
}

.TextIcon1 {
  transform: translateX(5%);
}

.TextIcon2 {
  transform: translateX(1%);
}

.TextIcon3 {
  transform: translateX(20%);
}

.customButton:hover {
  border: solid 4px;
  border-color: #00e1ff;
  background-color: rgb(0, 195, 255); /* Cinza escuro para efeito de hover */
}

.Conteudo {
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin: 5%;
  height: 86vh;
  align-items: stretch; /* Certifique-se de que os filhos se estendam para preencher o contêiner */
}

.Formulario {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  flex-basis: 30%; /* Use flex-basis em vez de width */
  flex-grow: 0; /* Evite que o elemento encolha ou cresça */
  background-color: rgb(0, 0, 0);
  border-radius: 150px 5px 5px 25px;
  z-index: 1;
  border: solid 2px;
  border-color: rgb(0, 89, 255);
}

.Capa {
  position: relative; /* Adicione esta linha para posicionar o vídeo corretamente */
  border: solid 2px;
  border-color: rgb(0, 204, 255);
  width: 100vh;
  flex-basis: 70%; /* Use flex-basis em vez de width */
  flex-grow: 0; /* Evite que o elemento encolha ou cresça */
  border-radius: 5px 150px 150px 5px;
}

.Capa1 {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Cubra todo o espaço do contêiner */
  z-index: -1; /* Certifique-se de que o vídeo esteja atrás do conteúdo */
  margin-left: -50%;
  border-radius: 0px 150px 150px 0px;
}

.container {
  margin-top: -45%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translateY(10%);
  height: 10%;
}

.Registre {
  width: 100%; /* Ajuste a largura conforme necessário */
  transition: border 0.3s ease;
  transform: translateY(126%);
  color: #00ccff;
  display: flex;
  flex-direction: column;
  margin-left: -20%;
}

.Registre input {
  font-size: 1.1em;
  margin-top: 10%;
  width: 100%;
  border: none;
  padding: 3% 10%;
  border-radius: 10px;
  background: linear-gradient(
    180deg,
    rgb(32, 31, 31) 10%,
    rgba(255, 255, 255, 0.2) 100%
  );
  color: rgba(250, 250, 250, 0.781); /* Cor do texto */
}

.formGroup1 {
  margin-top: -5%;
}

.Registre label {
  font-family: SF Pro Display;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  align-items: start;
  transform: translateY(80%);
}

.Registre input:hover {
  border: solid 2px;
  border-color: rgb(153, 0, 255);
  background: transparent;
  transition: 0.5s;
  transform: scale(1.03);
}

.label.focused {
  color: rgb(0, 247, 255); /* Cor quando o campo está em foco */
}


.Registre input::placeholder {
  font-family: SF Pro Display;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.582); /* Altere para a cor desejada */
  font-size: 0.9em;
  transform: translateX(-1%);
}

.Registre h4 {
  margin-left: 15%;
  font-size: 1.3em;
  font-family: SF Pro Display;
  font-weight: 500;
  margin-top: -23.5%;
  color: #00ff73;
}

.Caixa {
  display: flex;
  margin-left: -30%;
  margin-top: 2%;
}

.TextCheckbox {
  transform: translateY(-115%);
  font-size: 0.8em;
  font-family: SF Pro Display;
  font-weight: 200;
  margin-left: 60%;
  width: 100%;
  color: #d398ff;
}

.CheckBoxContainer {
  margin-top: -18%;
}

.CheckBoxContainer input {
  cursor: pointer;
}

.Logar {
  font-size: 1.1em;
  font-family: SF Pro Display;
  font-weight: 500;
  color: #ffffff;
  transform: translateY(87%);
  border-radius: 15px;
  background: radial-gradient(circle, #004BDD 100%, #000000 100%);
  padding: 4%;
  margin-left: 23%;
  border: solid 2px;
  border-color: #9000ff;
  overflow: hidden;
}

.Logar:hover {
  background: radial-gradient(circle, #17111d 100%, #000000 100%);
  cursor: pointer;
  transform: translateY(87%) scale(1.1);
}

